<h2>Help</h2>
<p> <a class="brand" href="<%= root_url%>"> grave.io </a> is just another
paste bin implementation aimed for inhouse use. </p>

<h3>How to use</h3>
<ul>
  <li><b>New snippet</b></li>
  Create a new snippet that needs to be published. Fill out title
  and content and press to create. You will be redirected to your new
  entry, where you easy get a short url to this snippet.
  <li><b>Show snippet</b>&nbsp;<i class="icon-eye-open"></i></li>
  To show the snippet alone and all its comments, click on the open
  eye just below of a snippet.
  <li><b>Destroy snippet</b>&nbsp;<i class="icon-trash"></i></li>
  Click on the trash icon below of a snippet and confirm it.
  <li><b>Edit snippet</b>&nbsp;<i class="icon-edit"></i></li>
  Click on the pencil icon below of a snippet and change the conent or
  title of the snippet.
  <li><b>Download raw snippet</b>&nbsp;<i class="icon-download"></i></li>
  Click on the the downward arrow just below of a snippet to get
  the actuall content as a text file.
  <li><b>Search for snippets</b></li>
  In the header of the site you will find the search. Type in the
  query in and press enter to retrive the results of your search.

</ul>
<h3>Command line interface</h3>
<ul>
  For easier posting of content to graveio, you can use bury, a ruby command
  line tool which also integrates to vim.
  <br \>
  To integrate it in vim simply add this line to your .vimrc:
  <pre class="help">map &lt;F2&gt; :w !bury -t %&lt;CR&gt;</pre>
  The default host and port for the tool can be configured via a rc file
  located at "~/.buryrc"
  <br \>
  Example configuration for this server could be:
  <pre class="help">
default:
  :host: <%= @server_ip %>
  :port: <%= @server_port%></pre>

  <li><b>Get bury here:</b></li>
  <span>
    <i class="icon-download"></i> <%= link_to "bury.rb", "bin/bury.rb" %>
  </span>
</ul>

<p>Fork me on github:
<a href="https://github.com/kmerz/graveio">
  https://github.com/kmerz/graveio</a>
</p>

<blockquote>
  <p>You must be the change you wish to see in the world.</p>
  <small> Ghandi </small>
</blockquote>
