<h2>Help</h2>
<p> <a class="brand" href="<%= root_url%>"> grave.io </a> is just another
paste bin implementation aimed for inhouse use. </p>

<blockquote>
  <p>You must be the change you wish to see in the world.</p>
  <small> Ghandi </small>
</blockquote>

<head>How to use:</head>
<ul>
  <li>new snippet:</li>
  Create a new snippet that needs to be published. Fill out title
  and content and press to create. You will be redirected to your new
  entry, where you easy get a short url to this snippet.
  <li>destroy snippet:</li>
  Click on the trash icon below of a snippet and confirm it.
</ul>
