/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require token-input-facebook
 */

/* compensate the overlap caused by bootstrap top navigation, min. 40px at the top! */
body { padding: 60px 10px 10px 20px; }

.navbar-search .input-append {
  margin-bottom: 0;
}

/* fix bootstrap icons with assets */
// Set the correct sprite paths
$iconSpritePath: asset-path('glyphicons-halflings.png');
$iconWhiteSpritePath: asset-path("glyphicons-halflings-white.png");

@import "bootstrap";
@import "bootstrap-responsive";

