// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.none {
    display:none;
}

.help {
    margin-top:9px;
    margin-bot:9px;
}

.comments_count {
  opacity: 0.5;
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;

  i {
    margin-left: 1px;
  }
}

.author {
  color: #727272;
}

.content_type {
  color: #727272;
}

.tags {
  color: rgb(51, 51, 51);
  border: 1px solid rgb(210, 210, 210);
  background-color: rgb(238, 238, 238);
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 8px;
  margin-top: 8px;
  border-radius: 4px;
  font-size: 0.8em;
}

.diff{
  overflow:auto;
  background: #EEE;
  padding: 10px;
  border: 1px #ccc solid;
}
.diff ul {
  background: ghostWhite;
  overflow:auto;
  font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }

pre.line-pre {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

span.line-number {
  padding-right: 2px;
  font-size: 10px;
  font-color: #A9A9A9;
}

td.line-number {
  background-color: rgb(236, 236, 236);
  color: rgb(170, 170, 170);
  padding: 0px 6px;
  border-right: 1px solid rgb(221, 221, 221);
  text-align: right;
  cursor: pointer;
  width: 5%;
}

td.line-pre {
  width: 95%;
  background: white;
}

td.line-pre:hover {
  background: #cccccc;
}

table.highlight {
  border: 1px solid #ccc; // fallback for IE7-8
  border: 1px solid rgba(0,0,0,.15);
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
