// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.none {
    display:none;
}

.help {
    margin-top:9px;
    margin-bot:9px;
}

.comments_count {
  opacity: 0.5;
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
}

.author {
  color: #727272;
}
