// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.none {
    display:none;
}

.help {
    margin-top:9px;
    margin-bot:9px;
}

.comments_count {
  opacity: 0.5;
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;

  i {
    margin-left: 1px;
  }
}

.author {
  color: #727272;
}

.diff{
  overflow:auto;
  background: #EEE;
  padding: 10px;
  border: 1px #ccc solid;
}
.diff ul{
  background: ghostWhite;
  overflow:auto;
  font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }
